/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Logo Styles */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/* Logo Animation */
@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Card Styles */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  max-width: 100%;
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}
.links a {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #d6b11a; 
  color: white;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.links a:not(:last-child) {
  margin-right: 10px;  /* Space between two buttons */
}

.card p {
  font-size: 1rem;
}

/* Link Styles */
.card a,
.contact-link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

